%div.row
  %div.col-md-1
  %div.col-md-10
    %h3
      =day_pass.days.to_s + '-Day Pass Task'
    -if day_pass.task
      -day_pass.task.steps.each do |step|
        %h4
          ="Step " + step.index.to_s
        .panel
          .panel-body.task-panel
            =form_tag(city_path, id: 'step_form_' + step.id.to_s, method: "patch") do 
              %div.row
                %div.col-md-4
                  %strong{:style => "font-size:20px"}
                    ="Step Number"
                %div.col-md-8
                  %input{:type => "integer", :name => 'index', :value => step.index, :style=>"width:100%;", :maxlength => "200"}
              %div.row
                %div.col-md-4
                  %strong{:style => "font-size:20px"}
                    ="Title"
                %div.col-md-8
                  %input{:type => "string", :name => 'title', :value => step.title, :style=>"width:100%;", :maxlength => "200"}
              %div.row
                %div.col-md-4
                  %strong{:style => "font-size:20px"}
                    ="Body"
                %div.col-md-8
                  %textarea{:rows => 5, :name => 'body', :style=>"width:100%;"}
                    =step.body

        %div.row
          %center
            %a.btn.btn-dark.btn-lg.update_step{id: step.id, task_id: day_pass.task.id} 
              ="Update Step " + step.index.to_s 
        %br
        %div.row
          %center
            %a.btn.btn-danger.btn-sm.delete_step{id: step.id, task_id: day_pass.task.id} 
              ="Delete Step " + step.index.to_s
%div.row
  %div.col-md-1
  %div.col-md-10
    %h3
      ='Create New Step'
    .panel  
      .panel-body.task-panel
        =form_tag(city_path, id: 'new_step_form_' + day_pass.task.id.to_s,  method: "post") do 
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Step Number"
            %div.col-md-8   
              %input{:type => "integer", :name => 'index', :value => "", :style=>"width:100%;", :maxlength => "200"}
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Title"
            %div.col-md-8   
              %input{:type => "string", :name => 'title', :value => "", :style=>"width:100%;", :maxlength => "200"}
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Body"
            %div.col-md-8
              %textarea{:rows => 5, :name => 'body', :style=>"width:100%;"}
           
%div.row
  %center
    %a.btn.btn-dark.btn-lg.create_new_step{task_id: day_pass.task.id}
      ="Create Step"


