%div.row
  %div.col-md-12.text-right
    =@admin.email
    =link_to "Logout", logout_path, :method => :get

%header
  %center
    %h1
      ="Edit " + @city.name

=render partial: 'edit_details'
=render partial: 'edit_fare'
=render partial: 'edit_day_passes'



