/ Header
%header#top.header
  .text-vertical-center
    %h1 Farezy
    %h3 Your fare machine cheet sheet.
    %h4 Choose your city
    %br
      -@cities.each do |city|
        %a.btn.btn-dark.btn-lg{:href => "#{city_path(city.id)}"}
          =city.name
/ About

/ Footer
%footer
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h4
          %strong Farezy
        %p
          Submitted to Transportation Camp New England
          %br Derek Edwards
          %br April 9th, 2016
        
        %hr.small
        %ul.list-unstyled
          %li
            %i.fa.fa-github.fa-fw
            %a{:href => "https://github.com/DerekEdwards/farezy"} Fork Farezy on GitHub
          %li
            %i.fa.fa-envelope-o.fa-fw
            %a{:href => "mailto:dedwards8@gmail.com"} dedwards8@gmail.com


    
