* {
  border-radius: 0 !important;
}

.map-section {
  text-align: center;
}

.map-section img {
  max-width: 100%;
}

.steps-section {
  text-align: center;
}

.steps-section img {
  max-width: 100%;
}

.edit-page-panel {
  background-color: #98AFC7;
}

.task-panel {
  background-color: #d3d3d3;
}

.panel {
  background-color: initial;
}

.initially-hidden {
  display: none;
}


